@import "../../src/_variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap";

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  height: 100vh;
}
