/* You can add global styles to this file, and also import other style files */

@import "https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap";

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  height: 100vh;
}

@import "./node_modules/bootstrap/scss/bootstrap.scss";

#sidebarMenu {
  background-color: var(--primary);
}

main {
  height: 100%;
}

.main-content {
  padding-top: 50px;
  background-color: #f0f2f8;
  height: 100%;
  overflow-y: scroll;
  .form-footer {
    position: fixed;
    bottom: 0;
    left: 50px;
    width: calc(100% - 50px);
    padding: 10px 15px;
    z-index: 10;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  &.main-content-minimize {
    padding-left: 50px;
    .form-footer {
      width: calc(100% - 50px);
    }
  }
  &.main-content-expand {
    padding-left: 230px;
    .form-footer {
      width: calc(100% - 230px);
      left: 230px;
    }
  }
}

.inner-content {
  padding: 24px 20px;
  height: calc(100% - 50px);
}

.page-title {
  font-size: 16px;
  font-weight: 600;
  color: #43436c;
  line-height: 20px;
  margin-bottom: 20px;
}

.card {
  border: 1px solid #ececff;
  background-color: #fff;
  box-shadow: 0 0 4px #e1e4f1a7;
  border-radius: 4px;
  .card-header {
    padding: 11px 24px;
    background-color: #fff;
    border-bottom: 1px solid #e2e2fb;
    min-height: 54px;
    display: flex;
    align-items: center;
    h4 {
      color: #43436c;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
    }
  }
  .card-body {
    padding: 24px;
    background-color: #fff;
  }
}

html[data-bs-theme="light"] {
  body {
    background-color: #f0f2f9;
  }
  .page-title {
    color: #43436c;
  }
  .card {
    border: 1px solid #ececff;
    background-color: #fff;
    box-shadow: 0 0 4px #e1e4f1a7;
    .card-header {
      background-color: #fff;
      border-bottom: 1px solid #e2e2fb;
      h4 {
        color: #43436c;
      }
    }
    .card-body {
      background-color: #fff;
    }
  }
}

html[data-bs-theme="dark"] {
  body {
    background-color: #101014;
  }
  .page-title {
    color: #ececff;
  }
  .card {
    background-color: #1b1d24;
    border: 1px solid #bbbcf626;
    box-shadow: 0 0 4px #16171c84;
    .card-header {
      background-color: #1b1d24 !important;
      border-bottom: 1px solid #242632;
      h4 {
        color: #ecebfd;
      }
    }
    .card-body {
      background-color: #1a1d24;
    }
  }
}
